// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$gray: #0E0000;

$blue: #5AC6FF;
$light-blue: #E4F6FF;
$orange: #DA7C2B;
$light-orange: #F5E9DE;
$green: #70997B;
$light-green: #EFF4F1;
$white: white;
$dark-brown: #484444;
$medium-brown: #88827F;
