$orange: #DA7C2B;

.counter-section {
  margin-bottom: 32px;
  p {
    margin: 0;
  }
  .counter-item {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    height: 64px;
  }
  .counter-item:first-child {
    border-top: 1px solid black;
  }
  .counter-number {
    font-size: 1.625rem;
    color: $orange;
    margin-left: 1rem;
  }
}
