$green: #70997B;
$dark-brown: #484444;

#reset-filter {
  margin-bottom: 32px;
  color: $green;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    color: $dark-brown;
  }
}

