<footer>
    <p>Created by Ryan Woods</p>

    <div>
      <%= link_to 'https://github.com/ryanofwoods', target: '_blank', rel: 'nofollow' do %>
        <i class="fab fa-github-square"></i>
      <% end %>
      <%= link_to 'https://www.linkedin.com/in/ryanofwoods/', target: '_blank', rel: 'nofollow' do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
</footer>
