.btn {
  font-weight: 600;
  width: 100%;
  padding: 8px;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
}

.btn-primary {
  &:hover {
    background-color: $dark-brown; 
  }
}

.btn-primary, .btn-dark {
  &, &:hover, &:active, &:focus {
    color: #fff !important;
  }
}
