.counter-section {
  margin-bottom: 2rem;
  p {
    margin: 0;
  }
  .counter-item {
    border-bottom: 1px solid $dark-brown;
    display: flex;
    align-items: center;
    height: 64px;
  }
  .counter-item:first-child {
    border-top: 1px solid $dark-brown;
  }
  .counter-number {
    font-size: 1.625rem;
    font-family: $counter-font;
    color: $orange;
    margin-left: 1rem;
  }
}
