.population-bars-container {
  display: flex;
  margin-bottom: 1rem;
  p {
    margin-left: 16px;
  }
}

.date {
  border: 1px solid $green;
  font-size: 16px;
  line-height: 1;
  color: $green !important;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: $light-green;
  width: fit-content;
  margin-right: 8px !important;
}

.house-bg-breeding {
 fill: $light-orange;
}
.house-bg-occasional {
 fill: $light-blue;
}

.house-breeding {
 fill: $orange;
}
.house-occasional {
 fill: $blue;
}
