footer {
  background-color: #fff;
  color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  p {
    margin-bottom: 0;
  }

  a {
    &, &:hover {
      text-decoration: none;
    }

    i {
      font-size: 30px;
      padding: 8px;
    }
  }
}