footer {
  background-color: $primary;
  color: $body-bg;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 30px 20px; // extra bottom padding for options bar

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  > div {
    padding: 0 20px;
  }
  div.footer-icons {
    display: flex;
    justify-content: center;
  }
  p {
    margin-bottom: 0;
  }
  a {
    i {
      color: $body-bg;
      font-size: 30px;
      padding: 8px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}