form {
  .form-group, .form-check {
    color: $dark-gray;
    margin: 1rem 0;

    label {
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
  }
  .form-check {
    display: flex;
    align-items: center;
    padding: 0;

    label {
      margin: 0;
    }
  }
}