.container ul.list-group, ol.list-group {
  li#group-header {
    position: sticky !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: -1px; //bug with top: 0px as it has a gap of 1 px
    height: fit-content;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 40;
    background-color: $primary !important;
    color: #fff !important;
    font-weight: bolder !important;
    font-size: 12px;
    // leave left and right alone as they are responsive
    padding-top: 4px !important;
    padding-bottom: 4px !important;

    p {
      font-family: $body-font !important;
    }
  }
  a:hover, a:hover p, a p {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    opacity: 0.7;
  }
  .sighting-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 16px;
    width: 100%;
    border-radius: 0;
    background-color: $secondary-muted;
    border-bottom-left-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;

    .progress-bar {
      background-color: $secondary;
    }
  }
  li {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0.75rem;
    padding: 12px 15px 12px 15px;
    border: none;
    border-radius: $border-radius-lg;
    height: 95px;
    font-size: 18px;

    i {
      font-size: 24px;
    }
    @include media-breakpoint-up(sm) {
      padding: 12px 30px 12px 30px;
    }
    &.group-item-with-progress {
      padding-bottom: 28px;
    }
    p {
      margin-bottom: 0;
    }
    .list-item-start {
      margin-right: 1rem;

      span {
        font-weight: bold;
      }
    }
    .list-item-start {
      min-width: 64px;
    }
    .list-item-start-small {
      min-width: 30px;
    }
    .list-item-grow {
      flex-grow: 1;
      font-size: 20px;
      font-family: $headers-font;
    }
    .list-item-end {
      justify-self: end;
    }
  }
}