.container ul.list-group, ol.list-group {
  li.group-header {
    position: sticky !important;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px;
    z-index: 40;
    background-color: $primary !important;
    color: #fff !important;
    font-weight: bolder !important;
    // leave left and right alone as they are responsive
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  a:hover, a:hover p, a p {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    opacity: 0.7;
  }
  .sighting-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    border-radius: 0;
  }
  li {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 12px 15px 12px 15px;

    i {
      font-size: 24px;
    }
    @include media-breakpoint-up(sm) {
      padding: 12px 30px 12px 30px;
    }
    &.group-item-with-progress {
      padding-bottom: 18px;
    }
    p {
      margin-bottom: 0;
    }
    .list-item-start {
      min-width: 64px;
      margin-right: 1rem;
    }
    .list-item-start-small {
      min-width: 30px;
      margin-right: 1rem;
    }
    .list-item-grow {
      flex-grow: 1;
    }
    .list-item-end {
      justify-self: end;
    }
  }
}