.modal-component-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}
.modal-component {
  position: fixed;
  height: fit-content;
  max-width: 450px;
  z-index: 100;

  .close {
    color: $dark-brown;
    opacity: 1;
  }

  .modal-header, .modal-footer {
    border: none;
  }
  .modal-body {
    min-height: 80px;
    margin: 0 1rem 0 1rem;
    padding: 1rem 0 1rem 0;
    border-top: 1px solid $dark-brown;
  }
  .modal-footer {
    button {
      width: 100%;
    }
  }
  .contentGroup {
    padding-top: 20px;
    
    .detailsModalItem {
      display: flex;
      
      & > :first-child {
        min-width: 50px;
      }
    }
  }
}
@media (max-width: 576px) {
  .modal-component {
    max-width: 90vw;

    .modal-header {
      padding: 0.25rem 1rem;
    }
    .modal-body {
      padding: 0.5rem 0 0.5rem 0;
    }
    & .detailsModalContent {
      font-size: 12.5px;

      .contentGroup {
        padding-top: 8px;
      }
    }
  }
}
@media (max-width: 350px) {
  .modal-component {
    max-width: 100vw;

    & .detailsModalContent .contentGroup {
      padding-top: 0px;
    }
  }
}
