#sorting-header {
  padding: 0px;
  margin-bottom: 14px;
  border: none;
  background-color: transparent;

  button:first-child {
    width: 54px !important;
  }
  button {
    padding: 0;
    font-size: 0.875rem;
    border: none;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
